<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="{{charset}}">
    <title>{{title}}</title>
</head>
<body>
{{#nav}}
<nav role="navigation">
    {{#items}}
    <a class="{{class}}" href="{{url}}">{{name}}</a>
    {{/items}}
</nav>
{{/nav}}

{{>content}}
</body>
</html>
