VCB_Off RCDATA "엔진계통도이미지\\aa.jpg"
VCB_On RCDATA "엔진계통도이미지\\aa1.jpg"
HCB_Off RCDATA "엔진계통도이미지\\bb.jpg"
HCB_On RCDATA "엔진계통도이미지\\bb1.jpg"
TR_On RCDATA "엔진계통도이미지\\cc.jpg"
TR_Off RCDATA "엔진계통도이미지\\cc1.jpg"
HCon_Off RCDATA "엔진계통도이미지\\dd.jpg"
HCon_On RCDATA "엔진계통도이미지\\dd1.jpg"
VCon_Off RCDATA "엔진계통도이미지\\ee.jpg"
VCon_On RCDATA "엔진계통도이미지\\ee1.jpg"
TR1_On RCDATA "엔진계통도이미지\\ff.jpg"
TR1_Off RCDATA "엔진계통도이미지\\ff1.jpeg"
