/IPHelper.~pas
/LocalHostNetIfoBaseClass.~pas
/LocalHostNetIfoLinuxClass.~pas
/LocalHostNetIfoWinclass.~pas
/SocketErrorCode.~pas
/SocketErrorRString.~pas
/SocketMyServerTypes.~pas
/SocketMyTypes.~pas
/SocketSimpleTypes.~pas
/SocketMisc.~pas
