/*
 * MultiVer.rc
 *
 * Resource file containing version information with more than one translation
 * for use in the the Version Information Component HelpEgs demo program.
 *
 * $Rev: 1109 $
 * $Date: 2013-01-13 23:19:20 +0000 (Sun, 13 Jan 2013) $
 *
 * Any copyright in this file is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/
 */

#define VERINFO 1

VERINFO VERSIONINFO
FILEVERSION 1, 2, 3, 4
PRODUCTVERSION 1, 0, 123, 2001
FILEFLAGSMASK 0x3F
FILEFLAGS VS_FF_DEBUG + VS_FF_PRIVATEBUILD
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "080904E4"
  {
   VALUE "Comments", "This is the English English realisation.\000"
   VALUE "CompanyName", "DelphiDabbler.com\000"
   VALUE "FileDescription", "A demo application showing multi-lingual version info resources.\000"
   VALUE "FileVersion", "1.0\000"
   VALUE "InternalName", "MultiLingDemo\000"
   VALUE "LegalCopyright", "No copyright\000"
   VALUE "OriginalFileName", "MultiLingDemo.exe\000"
   VALUE "PrivateBuild", "This is a UK private build\000"
   VALUE "ProductName", "Multilingual Demo App\000"
   VALUE "ProductVersion", "1.0\000"
  }
  BLOCK "040904B0"
  {
   VALUE "Comments", "This is the American English realization.\000"
   VALUE "CompanyName", "DelphiDabbler.com\000"
   VALUE "FileDescription", "A demo application showing multi-lingual version info resources.\000"
   VALUE "FileVersion", "1.0\000"
   VALUE "InternalName", "MultiLingDemo\000"
   VALUE "LegalCopyright", "No copyright\000"
   VALUE "OriginalFileName", "MultiLingDemo.exe\000"
   VALUE "PrivateBuild", "This is a US private build\000"
   VALUE "ProductName", "Multilingual Demo App\000"
   VALUE "ProductVersion", "1.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 1252, 0x0409, 1200
 }
}
