/*
 * Version information resource for About Box Component demo program.
 *
 * $Rev: 1138 $
 * $Date: 2013-01-14 17:59:06 +0000 (Mon, 14 Jan 2013) $
 *
 * Any copyright in this file is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/
 */

#define VERINFO 1

VERINFO VERSIONINFO
FILEVERSION 1, 2, 0, 3
PRODUCTVERSION 1, 2, 0, 0
FILEFLAGSMASK 0x00
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "080904E4"
  {
   VALUE "Comments", "This demo shows how to use the TPJAboutBox component. It is released under the Mozilla Public License.\000"
   VALUE "CompanyName", "DelphiDabbler.com\000"
   VALUE "LegalCopyright", "This demo is copyright (c) PD Johnson, 2005-2009.\000"
   VALUE "ProductName", "About Box Dialog Demo by DelphiDabbler\000"
   VALUE "ProductVersion", "v1.2.0.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 1252
 }
}
