body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
table {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
.Locator {  color: #FFFFFF; font-weight: bold}
.PageTitle {  font-size: 24px; color: #330099; font-weight: bold}
.PageFoot {  font-size: 9px; font-weight: normal; color: #000099}
h4 {  color: #330099}
a {  text-decoration: underline; color: #0033FF}
a:hover {
	text-decoration : none;
}
a:visited {  color: #0033FF}
.emphase {  font-weight: bold; color: #330099; font-size: 14px; text-transform: none; font-variant: normal; font-style: normal}
