LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 3, 5, 4, 0
PRODUCTVERSION 3, 5, 4, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "Karsten Screen Saver\000"
   VALUE "FileVersion", "3.5.4.0\000"
   VALUE "InternalName", "karsten screen saver\000"
   VALUE "LegalCopyright", "© 2010 by matthias muntwiler and contributors\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "Karsten SlideShow\000"
   VALUE "ProductVersion", "3.5.1.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }
}

MAINICON ICON LOADONCALL MOVEABLE DISCARDABLE IMPURE karstenScrSav.ico
