body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-top : 5px;
	cursor: url(images/arrow.cur);
}

a {
	color: #7197DF;
	text-decoration: none;
	cursor: url(images/hand.cur) ;
}

a:hover {
	color : Red;
	text-decoration: underline;
	cursor: url(images/hand.cur) ;
}

th {
	background-color: #D0DDFF;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #5B626F;
	font-size: 14pt;
	
 	border-left: 2px solid #E4ECFF;
 	border-top: 2px solid #E4ECFF;
 	border-right: 2px solid #BCCBE7;
 	border-bottom: 2px solid #BCCBE7;
}

.small {
	font-size: 4pt;
}

.downloads {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.head { 
 	font-family: Arial;
  	font-size: 20pt;
	font-weight: bold;
}

.subhead { 
 	font-family : Arial;
  	font-size:8pt 
}

.info {
	background-color : #FFFFFF;
	padding-top: 10px;
}

.dark {
	background-color: #EEBB88;
	padding : 3px 3px 3px 3px;
}

.light {
	background-color: #F7EED5;
	padding : 3px 3px 3px 3px;
}

.code {
	font-family: Courier New, Courier;
	font-size: 13px;
	color: #AA3300;
}
